/* home.scss */
.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .header {
        z-index: 100;
        padding: 1rem;
    }

    .sidebar {

        padding: 1rem;
        width: 250px;
    }

    .content {
        flex: 1;
        padding: 1rem;
    }
}